<div class="article">
    <Ticker TickerCode="AGT SP" TickerFullName="Accordia Golf Trust"/>
    <ArticleTitle Title="Conersation with sources" />
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima ut tenetur laborum, similique ad omnis officiis fugiat ab nostrum, magni, saepe esse dolor alias asperiores voluptatibus atque eveniet! Perspiciatis, quas.</p>
    <AuthorCard AuthorImage="Assets/KenJeong.jpg" AuthorName="Ken Jeong" PublishDate="22nd March 2020 14:22"/>
</div>