<a class="article-title" href="/@Id">
    <div class="float-left article-title__line"></div>
    <h2>@Title</h2>
</a>

@code {
    [Parameter]
    public string Title { get; set; }
    [Parameter]
    public int Id { get; set; }
}
