<div class="author-card">
    <div class="float-left">
        <img class="author-card__image" src="@AuthorImage" alt="@AuthorName">
    </div>
    <div>
        <div class="author-card__name">@AuthorName</div>
        <div class="author-card__publish-date">@PublishDate</div>
    </div>
</div>

@code {
    [Parameter]
    public string AuthorImage { get; set; }
    [Parameter]
    public string AuthorName { get; set; }
    [Parameter]
    public string PublishDate { get; set; }
}