<nav class="bottom-nav navbar fixed-bottom d-flex justify-content-around d-block d-md-none">
    <a class="bottom-nav__link text-center" href="/">
        <svg>
            <use xlink:href="Assets/home.svg#home"></use>
        </svg>
        <div>Home</div>
    </a>    
    <a class="bottom-nav__link text-center" href="/">
        <svg>
            <use xlink:href="Assets/star.svg#star"></use>
        </svg>
        <div>Favourites</div>
    </a>    
    <a class="bottom-nav__link text-center" href="/">
        <svg>
            <use xlink:href="Assets/globe.svg#globe"></use>
        </svg>
        <div>Global</div>
    </a>    
    <a class="bottom-nav__link text-center" href="/">
        <svg>
            <use xlink:href="Assets/profits.svg#profits"></use>
        </svg>
        <div>Ideas</div>
    </a>    
    <a class="bottom-nav__link text-center" href="/">
        <svg>
            <use xlink:href="Assets/more.svg#more"></use>
        </svg>
        <div>More</div>
    </a>
</nav>

@code {

}
