<div class="header-top">
    <ul class="nav nav-pills p-3">
        <img class="header-top__logo" src="Assets/ufp_logo.svg" alt="ufp logo">
        <span class="header-top__company-name d-none d-md-block">United First Partners</span>

        <li class="nav-item ml-3">
            <a class="nav-link mx-2 active" href="#">Asia</a>
        </li>
        <li class="nav-item">
            <a class="nav-link mx-2" href="#">EU</a>
        </li>
        <li class="nav-item">
            <a class="nav-link mx-2" href="#">USA</a>
        </li>
        @* <li class="nav-item">
            <div class="nav-link mx-2">
                <LoginDisplay />
            </div>
        </li> *@

        <img class="header-top__search" src="Assets/search.svg" alt="search svg">
    </ul>
</div>

@code 
{

}