
<div class="notfound text-center">
    <div class="notfound__header">
        <h1>404</h1>
        <h2>PAGE NOT FOUND</h2>
    </div>

    <a class="btn btn-primary mb-4" href="/">HOME</a>

    @*replace with component search bar*@
    <form class="notfound-search">
        <input type="text" placeholder="Search...">
        <button type="button"><span></span></button>
    </form>
</div>

