@import '../Styles/Branding';

.sidebar {
    background-color: $primary-brand-color;

    .top-row {
        background-color: rgba(0,0,0,0.4);
    }

    .navbar-brand {
        font-size: 1.1rem;
    }

    .oi {
        width: 2rem;
        font-size: 1.1rem;
        vertical-align: text-top;
        top: -2px;
    }

    .nav-item {
        font-size: 0.9rem;
        padding-bottom: 0.5rem;
    }

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

    .nav-item a.active {
        background-color: $highlight-brand-color;
        color: $white-color;
    }

    .nav-item a:hover {
        background-color: $secondary-brand-color;
        color: $white-color;
    }
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

@media (min-width: 768px) {

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;

        .collapse {
            /* Never collapse the sidebar for wide screens */
            display: block;
        }
    }

    .navbar-toggler {
        display: none;
    }

}
